.account-box{
	background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    overflow: hidden;
    width: 668px !important;
    margin-top: 33px !important;
    padding: 10px !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  top: 1.25em !important;
}
