
<!-- Header -->
<div class="header">

  <mat-progress-bar *ngIf="isLoadingSubject"  mode="indeterminate"></mat-progress-bar>

    <!-- Logo -->
    <div class="header-left">
        <a  class="logo">
            <img *ngIf="!user?.organization?.logoImage" src="assets/img/google-workspace-logo.svg" width="150" height="40" alt="">
            <img *ngIf="user?.organization?.logoImage" src="{{ baseUrl + user?.organization?.logoImage }}" width="85%" height="40" alt="Org Logo">
        </a>
    </div>
    <!-- /Logo -->

    <a id="toggle_btn">
        <span class="bar-icon">
            <span></span>
            <span></span>
            <span></span>
        </span>
    </a>

    <!-- Header Title -->
    <div class="page-title-box">
        <h3> {{user.organization?.description}}</h3>

    </div>
    <!-- /Header Title -->

    <a id="mobile_btn" class="mobile_btn" href="javascript:"><i class="fa fa-bars"></i></a>


    <!-- Header Menu -->
    <ul class="nav user-menu">

      <!-- Home menu  vertical -->
      <li *ngIf="isOwner" class="nav-item dropdown user-menu-dropdown">
        <!-- disable click hover -->
          <a class="devTools"  routerLink="/dev-tools/create" >
              <!-- icon dev tools -->
              <i class="fa fa-cogs"></i> &nbsp; Dev Tools
          </a>


        <li class="nav-item dropdown has-arrow main-drop">
            <!-- profile pic and username  -->
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                <span class="user-img">
                    <img class="img-circle" src="assets/img/bulbul.jpg" width="40" alt="Admin">
                    <span class="status online"></span>
                </span>
                <span>&nbsp; &nbsp; {{user?.username}} </span>
              </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/auth/user-profile">
                  <!-- icon profile -->
                  <i class="fa fa-user"></i> &nbsp; Profile
                  </a>
                <!-- <a  *ngIf="user" class="dropdown-item" routerLink="/shared/change-password">
                  <i class="fa fa-key"></i> &nbsp; Change Password
                  </a> -->
                <a class="dropdown-item" href="#" (click)="logout()" *ngIf="user">
                    <i class="fa fa-power-off"></i> &nbsp; Logout
                </a>
            </div>
        </li>
    </ul>
    <!-- /Header Menu -->

    <!-- Mobile Menu -->
    <div class="dropdown mobile-user-menu">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                class="fa fa-ellipsis-v"></i></a>
        <div class="dropdown-menu dropdown-menu-right">
          <!-- <a  *ngIf="user" class="dropdown-item" routerLink="/shared/change-password">Change Password</a> -->
            <!-- <a class="dropdown-item" href="javascript:">Settings</a> -->
            <a class="dropdown-item" (click)="logout()" *ngIf="user">Logout</a>
        </div>
    </div>
    <!-- /Mobile Menu -->

</div>
<!-- /Header -->
