
<configuration>
<system.webServer>
  <staticContent>
   <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
<mimeMap fileExtension=".woff2" mimeType="application/x-font-woffs" />
<mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
  </staticContent>
 </system.webServer>
</configuration>
