<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">User Profile</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">Home</a></li>
          <li class="breadcrumb-item active">User</li>
          <li class="breadcrumb-item active">Profile</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <div class="card mb-0">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <div class="profile-view">
                <div class="profile-img-wrap">
                  <div class="profile-img">
                    <!-- <a *ngIf="myFormData.photo" [routerLink]="" class="avatar" data-target="#profile_Image"
                                  data-toggle="modal"><img src="{{ baseUrl + myFormData.photo }}" alt="" />
                                </a> -->

                    <a [routerLink]="" class="avatar" data-target="#profile_Image" data-toggle="modal"><img id="companyLogo"
                        data-flag="1" src="assets/img/bulbul.jpg" alt="" /></a>
                  </div>

                </div>
                <div class="profile-basic">
                  <div class="row">
                    <div class="col-md-5">

                      <div class="profile">
                        <h3 class="user-name m-t-0 mb-0">Bulbul Ahmed</h3>
                        <h6 class="text-muted">Java/Spring Boot Developer</h6>
                        <small class="text-muted">Software Engineer</small>
                        <div class="staff-id">Employee ID : FT-0001</div>
                        <div class="small doj text-muted">Date of Join : 1st Jan 2020</div>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
              <h3>Details</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- card body -->
  <div class="card">
    <div class="card-body">
      <div class="row">

        <div class="col-md-8">
          <!-- card -->
          <div class="card">
            <div class="card-body">
              <h3> user details </h3>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <!-- router outlet app-change-password -->
          <router-outlet>
            <app-change-password></app-change-password>
          </router-outlet>
        </div>

      </div>
    </div>

  </div>
  <!-- /Page Content -->






  <!-- Profile pic upload modal-->

  <div id="profile_Image" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content profile-image-modal">
        <div class="modal-header">
          <h5 class="modal-title text-light">Upload Profile Image</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- <div class="modal-body">
        <form [formGroup]="uploadForm" (ngSubmit)="Submit()">
          <div class="row">
            <div class="col-md-12">
              <div class="profile-img-wrap edit-img" *ngIf="myFormData">
                <img class="inline-block" [src]="imageSrc || baseUrl + myFormData.photo" />

                <div class="fileupload btn">
                  <span class="btn-text">Change</span>
                  <input class="upload" type="file" name="photo" accept="image/x-png,image/jpeg,image/jpg"
                    (change)="onFileSelect($event)" />
                </div>
              </div>
            </div>
          </div>

          <div class="submit-section">
            <button class="btn btn-primary submit-btn">Upload</button>
          </div>
        </form>
      </div> -->
      </div>
    </div>
  </div>

  <!-- End profile pic upload modal -->
