<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
      <div class="row">
          <div class="col-sm-12">
              <h3 class="page-title">Welcome, {{currentUserSubject?.username}}</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item active">Dashboard</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->

  <div class="row">
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
              <div class="card-body">
                  <span class="dash-widget-icon"><i class="fa fa-users"></i></span>
                  <div class="dash-widget-info">
                      <h3>112</h3>
                      <span>Total User</span>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
        <div class="card dash-widget">
            <div class="card-body">
                <span class="dash-widget-icon"><i class="fa fa-lock"></i></span>
                <div class="dash-widget-info">
                    <h3>12</h3>
                    <span>Total Role</span>
                </div>
            </div>
        </div>
    </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
              <div class="card-body">
                  <span class="dash-widget-icon"><i class="fa fa-building"></i></span>
                  <div class="dash-widget-info">
                      <h3>456</h3>
                      <span>Total Organization</span>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <div class="card dash-widget">
              <div class="card-body">
                  <span class="dash-widget-icon"><i class="fa fa-check"></i></span>
                  <div class="dash-widget-info">
                      <h3>345</h3>
                      <span>Total Operating Unit</span>
                  </div>
              </div>
          </div>
      </div>

  </div>

  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
      <div class="card dash-widget">
          <div class="card-body">
              <span class="dash-widget-icon"><i class="fa fa-stop"></i></span>
              <div class="dash-widget-info">
                  <h3>10</h3>
                  <span>Total Process Running</span>
              </div>
          </div>
      </div>
  </div>
  </div>









</div>
<!-- /Page Content -->
