<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">System Menu </h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard/admin">Home</a></li>
          <li  class="breadcrumb-item active">System Menu</li>
          <li class="breadcrumb-item active">List</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->

  <!-- Search Filter -->
  <div class="card mb-2" style="background-color:transparent;">
    <div class="card-body p-3">

      <!-- search box by select dropdown field list -->
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <select class="form-control" id="searchField">
              <option value="">Select Field</option>
              <option value="code">Code</option>
              <option value="openUrl">Open Url</option>
              <option value="apiUrl">ApiUrl</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <input type="text" class="form-control" id="searchValue" placeholder="Search Value">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">


            <button type="submit" class="btn btn-primary btn-ripple" (click)="search()">
              <span *ngIf="!searchClick" >
                <!-- icon sign in -->
                <i class="fa fa-search"></i>&nbsp; Search
              </span>
              <span *ngIf="searchClick" class="indicator-progress">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>
              &nbsp;&nbsp;&nbsp;
            </button>

          </div>
        </div>



    </div>
  </div>
  <!-- /Search Filter -->

  <div class="row">
    <div class="col-md-12">

      <div class="card">

        <div class="card-header">
          <div class="card-tools">
            <a routerLink="/campusambassador/candidate/create" class="btn btn-outline-primary"><i
                class="fa fa-plus"></i> Create
              &nbsp;&nbsp;&nbsp;</a>
          </div>


        </div>

        <div class="card-body">
          <div class="table-responsive " [ngClass]="{ 'blur': searchClick  }" >

            <div class="d-flex justify-content-start pb-1">
              <div class="pgn-displayDataInfo">
                <span class="page-item disabled">Displaying ( {{ ( ((configPgn.pageNum-1) * configPgn.pageSize) + (1) )
                  }} to {{configPgn.pngDiplayLastSeq}} of {{configPgn.totalItem}} ) entries</span>
              </div>
            </div>

            <table id="genListTable" class="table table-striped custom-table">
              <thead>
                <tr>
                  <th>SL</th>
                  <th class="d-none">TB_ROW_ID</th>
                  <th>Code</th>
                  <th>Description</th>
                  <th>OpenUrl</th>
                  <th>ApiUrl</th>
                  <th>Icon Html</th>
                  <th>ParentMenu</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let thisObj of systemMenu | paginate : configPgn; let i = index"
                  [class.active]="i == currentIndex">

                  <td>{{ ( ((configPgn.pageNum-1) * configPgn.pageSize) + (i+1) ) }}</td>
                  <td class="d-none">{{thisObj.id}}</td>
                  <td>{{thisObj.code}}</td>
                  <td>{{thisObj.description}}</td>
                  <td>{{thisObj.openUrl}}</td>
                  <td>{{thisObj.apiUrl}}</td>
                  <td>{{thisObj.iconHtml}}</td>
                  <td>
                    {{thisObj.parentMenu?.description}}
                  </td>

                  <td>
                    <a class="btn btn-sm btn-secondary"
                      routerLink="/campusambassador/candidate/profiles/{{thisObj.id}}"><i
                        class="fa fa-eye m-r-5"></i></a> &nbsp;
                    <a class="btn btn-sm btn-info" routerLink="/campusambassador/candidate/edit/{{thisObj.id}}"><i
                        class="fa fa-pencil m-r-5"></i></a>&nbsp;&nbsp;
                    <a class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete_entity"
                      (click)="tempId = thisObj.id">
                      <i class="fa fa-trash-o m-r-5"></i>
                    </a> &nbsp;
                  </td>
                </tr>

                <!-- <tr *ngIf="systemMenu.length === 0">
                  <td colspan="10">
                    <h5 style="text-align: center;">No data found</h5>
                  </td>
                </tr> -->
              </tbody>
            </table>


            <div class="d-flex justify-content-end ">

              <div class="" [formGroup]="myFromGroup">
                Items per Page
                <select (change)="handlePageSizeChange($event)" class="pgn-pageSizeOption" formControlName="pageSize">
                  <option *ngFor="let size of configPgn.pageSizes" [value]="size">
                    {{ size }}
                  </option>
                </select>
              </div>

              <div class="pgn-pageSliceCt">
                <pagination-controls responsive="true" previousLabel="Prev" nextLabel="Next"
                  (pageChange)="handlePageChange($event)">
                </pagination-controls>
              </div>

            </div>

          </div>

        </div>
      </div>

    </div>
  </div>

</div>



<!-- Delete Modal -->
<div class="modal custom-modal fade" id="delete_entity" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-header">
          <h3>Delete Item</h3>
          <p>Are you sure want to delete?</p>
        </div>
        <div class="modal-btn delete-action">
          <div class="row">
            <div class="col-6">
              <a class="btn btn-primary continue-btn" (click)="deleteEntityData(tempId)">Delete</a>
            </div>
            <div class="col-6">
              <a data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /Delete Modal -->


<ngx-spinner bdColor="rgba(255,255,255,0.5)" size="small" color="#667eea" type="ball-clip-rotate" [fullScreen]="false">
  <p style="color: black"> Processing... </p>
</ngx-spinner>
