<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">System Menu</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard/admin">Home</a></li>
          <li class="breadcrumb-item active">System Menu</li>
          <li class="breadcrumb-item active">Create</li>
        </ul>
      </div>
      <!-- <div class="col-auto float-right ml-auto">
        <a class="btn add-btn" routerLink="/system/menu/list"><i class="fa fa-share"></i> Back To List</a>
      </div> -->
    </div>
  </div>
  <!-- /Page Header -->


  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <!-- back to list page -->
          <a class="" routerLink="/system/menu/list">
            <!--  arrow icon -->
            <i class="fa fa-long-arrow-left"></i>
            &nbsp;
            Back to List
          </a>
        </div>
        <div class="card-body">
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup">


            <div class="row">
              <div class="col-md-3">

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Code</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.code.errors }"
                    formControlName="code">
                  <mat-error *ngIf="formSubmitted && f.code.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    {{errorMsg.error.code}}
                  </mat-error>
                </mat-form-field>
                <br> <br>

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Icon Html</mat-label>
                  <input matInput type="text" formControlName="iconHtml">
                </mat-form-field>

                <!-- <mat-form-field appearance="outline" class="w-100">
                  <input
                    matInput
                    ng2TelInput
                    [ng2TelInputOptions]="{initialCountry: 'bd'}"
                    formControlName="phone"
                    (hasError)="hasError($event)" />
                  <mat-error
                    *ngIf="
                    !formGroup.get('phone').valid &&
                    formGroup.get('phone').touched
                    ">This is an <strong>invalid</strong> phone number.
                  </mat-error>
                </mat-form-field> -->

              </div>


              <div class="col-md-3">

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Open Url</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.openUrl.errors }"
                    formControlName="openUrl">
                  <mat-error *ngIf="formSubmitted && f.openUrl.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    {{errorMsg.error.openUrl}}
                  </mat-error>
                </mat-form-field>
                <br> <br>



                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Sequence</mat-label>
                  <input matInput type="number" [ngClass]="{ 'is-invalid': formSubmitted && f.sequence.errors }"
                    formControlName="sequence">
                  <mat-error *ngIf="formSubmitted && f.sequence.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    {{errorMsg.error.sequence}}
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-3">

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Api Url</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.apiUrl.errors }"
                    formControlName="apiUrl">
                  <mat-error *ngIf="formSubmitted && f.apiUrl.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    {{errorMsg.error.apiUrl}}
                  </mat-error>
                </mat-form-field>

                <br> <br>

                <mat-form-field appearance="fill" class="w-100">
                  <mat-label >Select one</mat-label>
                  <mat-select formControlName="parentMenu" >
                    <mat-option *ngFor="let data of parentMenu" [value]="data.id">
                      {{data.description}}
                    </mat-option>
                  </mat-select>

                </mat-form-field>

              </div>

              <div class="col-md-3">

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Description</mat-label>
                  <input matInput type="text" formControlName="description">
                </mat-form-field>
                <br> <br>

                <mat-checkbox formControlName="isActive"color="primary" >Is Active</mat-checkbox>



              </div>

            </div>


            <div class="row">

              <!-- <div class="col-md-4">

                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="hasChild" type="checkbox">&nbsp; &nbsp;
                  <label class="custom-text">Has Child </label>
                </div>
                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="leftSideMenu" type="checkbox"> &nbsp; &nbsp;
                  <label class="custom-text">Left Side Menu </label>
                </div>


                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="isChild" type="checkbox"> &nbsp; &nbsp;
                  <label class="custom-text">Is Child </label>
                </div>

                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="isActive" type="checkbox"> &nbsp; &nbsp;
                  <label class="custom-text">Is Active </label>
                </div>

              </div> -->

              <!-- <div class="col-md-4">
                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="isChild" type="checkbox"> &nbsp; &nbsp;
                  <label class="custom-text">Is Child </label>
                </div>

                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="isActive" type="checkbox"> &nbsp; &nbsp;
                  <label class="custom-text">Is Active  </label>
                </div>
              </div> -->
            </div>


            <div class="text-right">
              <!-- <button mat-raised-button color="primary">Primary</button> -->
              <button  class="btn btn-outline-info btn-sm">
                <span *ngIf="!isLoading">
                  <!-- icon sign in -->
                  <i class="fa fa-save"></i>&nbsp; Save
                </span>
                <span *ngIf="isLoading" class="indicator-progress">
                  Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
                &nbsp;&nbsp;&nbsp;
              </button>

              &nbsp; &nbsp;

              <button class="btn btn-outline-warning btn-sm" (click)="resetForm()">
                <i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Reset
              </button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>



</div>
<!-- /Page Content -->
