<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h3 class="page-title">System Menu</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard/admin">Home</a></li>
          <li  class="breadcrumb-item active">System Menu</li>
          <li class="breadcrumb-item active">Create</li>
        </ul>
      </div>
      <!-- <div class="col-auto float-right ml-auto">
        <a class="btn add-btn" routerLink="/system/menu/list"><i class="fa fa-share"></i> Back To List</a>
      </div> -->
    </div>
  </div>
  <!-- /Page Header -->


  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title mb-0">Create Form</h4>
        </div>
        <div class="card-body">
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup">


            <div class="row">
              <div class="col-md-4">


                <div class="form-group">
                  <label>Code</label>
                  <input type="text" class="form-control" formControlName="code">
                  <span style="font-size: 12px;" class="text-danger"
                    *ngIf="f.code && f.code.invalid && f.code.touched">Code not valid</span>
                </div>

                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" formControlName="description">
                  <span style="font-size: 12px;" class="text-danger"
                    *ngIf="f.description && f.description.invalid && f.description.touched">Description not valid</span>
                </div>
              </div>
              <div class="col-md-4">

                <div class="form-group">
                  <label>Open URL</label>
                  <input type="text" class="form-control" formControlName="openUrl">
                  <span style="font-size: 12px;" class="text-danger"
                    *ngIf="f.openUrl && f.openUrl.invalid && f.openUrl.touched">Open title required</span>
                </div>

                <div class="form-group">
                  <label>Icon HTML</label>
                  <input type="text" class="form-control" formControlName="iconHtml">
                </div>


              </div>

              <div class="col-md-4">


                <div class="form-group">
                  <label>API URL</label>
                  <input type="text" class="form-control" formControlName="apiUrl">
                  <span style="font-size: 12px;" class="text-danger"
                    *ngIf="f.apiUrl && f.apiUrl.invalid && f.apiUrl.touched">ApiUrl required</span>
                </div>

                <div class="form-group">
                  <label>Sequence </label>
                  <input type="text" class="form-control" formControlName="sequence">
                  <span style="font-size: 12px;" class="text-danger"
                    *ngIf="f.sequence && f.sequence.invalid && f.sequence.touched">Sequence not valid</span>
                </div>


              </div>

            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Parent Menu</label>
                  <select class="select form-control" formControlName="parentMenu">
                    <option value="">Select Parent</option>
                    <option *ngFor="let data of parentMenu" [ngValue]='data.id'>{{data.description}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="row">

              <div class="col-md-4">

                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="hasChild" type="checkbox">&nbsp; &nbsp;
                  <label>Has Child  </label>
                </div>


                <!-- <div class="form-group">

                  <input style="margin-top: 10px;" formControlName="visibleToAll" type="checkbox"> &nbsp; &nbsp;
                  <label>Visible to all  </label>
                </div> -->


                <div class="form-group">

                  <input style="margin-top: 10px;" formControlName="leftSideMenu" type="checkbox"> &nbsp; &nbsp;
                  <label>Left Side Menu </label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="isChild" type="checkbox"> &nbsp; &nbsp;
                  <label>Is Child </label>
                </div>

                <div class="form-group">
                  <input style="margin-top: 10px;" formControlName="isActive" type="checkbox"> &nbsp; &nbsp;
                  <label>Is Active  </label>
                </div>
              </div>
            </div>


            <div class="text-right">
              <button type="submit" class="btn btn-primary btn-ripple btn-sm" [disabled]="!formGroup.valid">
                <span *ngIf="!isLoading">
                  <!-- icon sign in -->
                  <i class="fa fa-save"></i>&nbsp; Save
                </span>
                <span *ngIf="isLoading" class="indicator-progress">
                  Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
                &nbsp;&nbsp;&nbsp;
              </button>

              &nbsp; &nbsp;

              <button type="button" class="btn btn-outline-warning btn-ripple btn-sm" (click)="resetForm()">
                <i class="fa fa-undo" aria-hidden="true"></i>&nbsp; Reset
              </button>
            </div>


          </form>
        </div>
      </div>
    </div>
  </div>



</div>
<!-- /Page Content -->
