<div class="account-content">
  <!-- <a routerLink="/login/joblist" class="btn btn-primary apply-btn">Apply Job</a> -->
  <div class="container">

    <!-- Account Logo -->
    <!-- <div class="account-logo">
      <a href="javascript:"><img src="assets/img/logo2.png" alt="Walton Digi-Tech Industries Ltd "></a>
    </div> -->
    <!-- /Account Logo -->



    <div class="account-box " style="margin-top:70px">
      <div class="account-wrapper">
        <h2 class="text-center text-muted">TechBitz</h2>
        <h3 class="account-title">Reset your password</h3>
        <p class="account-subtitle">Enter your recovery email or phone number</p>


        <br> <br>

        <!-- Account Form -->
        <form (ngSubmit)="onSubmit()" [formGroup]="myForm">


          <!-- email -->
          <mat-form-field appearance="outline" class="w-100" style="padding-left: 13px;">
            <mat-label class="text-sm text-muted">Email</mat-label>
            <input matInput type="text" email="true" [ngClass]="{ 'is-invalid': formSubmitted && f.email.errors }"
              formControlName="email">
            <mat-error *ngIf="formSubmitted && f.email.errors">
              <!-- error fa fa icon icon -->
              <i class="fa fa-exclamation-circle"></i>
              <!-- valid email checking error -->
              <span *ngIf="f.email.errors.required"> Email is required</span>
              <span *ngIf="f.email.errors.email"> Email is invalid</span>
            </mat-error>
          </mat-form-field>



          <br>
          <div class="form-group">
            <button tabindex="-1" mat-button  type="button" color="primary" routerLink="/login/login">Sign in</button>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <button mat-raised-button type="submit" color="primary" style="float:right">

              <span *ngIf="!isLoading">
                <!-- icon sign in -->
                Reset
              </span>

              <span *ngIf="isLoading" class="indicator-progress" [style.display]="'block'">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>

            </button>

          </div>
          <div class="account-footer">
            <!-- forgot password -->

          </div>
        </form>
        <!-- /Account Form -->

      </div>
    </div>
  </div>
</div>
