input,
textarea {
  width: 500px;
  box-sizing: border-box;
}
.content {
	padding: 60px;
}

.copy-to-clipboard-dir,.copy-to-clipboard-pac
{
  cursor: pointer;
}

.fixed {
  /* width 100 %  fixed bottom */
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;

}

.json-beautify{
  width: 100%;

}
