<!-- Page Content -->
<div class="content container-fluid">

<div class="row">
  <div class="col-md-12">
    <!-- Nice header design -->
    <h2 class="text-center" style="border: 2px solid #ddd;">Code Automation DevTools</h2>

  </div>
  <div class="col-md-6">
    <div class="card">

    <h3 class="text-center" style="padding-top:10px"> File Structure </h3>
    <hr />
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">

        <div class="form-group">
          <label>File Creating Root Directory(Untill com)</label>
          <input type="text" class="form-control" id="sourceUrl" [(ngModel)]="devTools.rootDirectory" name="rootDirectory"
          placeholder="Paste directory untill com" value="F:\My Projects\Spring Boot And Angular Boilerplate\Backend\spring-boot-boilerplate\src\main\java\com">
        </div>

        <div class="form-group">
          <label> Root Package Name</label>
          <input type="text" class="form-control" id="rootPackage" [(ngModel)]="devTools.rootPackage"
            name="rootPackage"  placeholder="springbootboilerplate">
        </div>

        <div class="form-group">
          <label> Module Name</label>
          <input type="text" class="form-control" id="moduleName" [(ngModel)]="devTools.moduleName" name="moduleName" placeholder="auth">
        </div>

        <div class="form-group">
          <label> Sub Module Name</label>
          <input type="text" class="form-control" id="subModuleName" [(ngModel)]="devTools.subModuleName"
            name="subModuleName"  placeholder="sales">
        </div>



        <div class="form-group">
          <label> Entity Name</label>
          <input type="text" class="form-control" id="domainName" [(ngModel)]="devTools.domainName" name="domainName" placeholder="Sales">
        </div>



        <br />
        <button class="btn btn-success" type="submit">Save</button>
      </form>
    </div>
  </div>
  </div>

  <div class=" col-md-6">

    <div class="card">

    <h3 class="text-center" style="padding-top:10px"> Entity Attribute </h3>
    <hr />
    <div class="card-body">

      <!-- push to addAttributes form  -->
      <form (ngSubmit)="onSubmitAttributes()" [formGroup]="attributeForm">
        <div class="form-group">
          <label> Attribute Type </label>
          <input type="text" class="form-control" id="attributes" formControlName="type" placeholder="String">
        </div>
        <div class="form-group">
          <label> Attribute Name </label>
          <input type="text" class="form-control" id="attributes" formControlName="name" placeholder="username">
        </div>
        <br />
        <button class="btn btn-success" type="submit">Add Attribute </button>
      </form>
    </div>
  </div>
  </div>
 </div>

  <div class="row">
    <!-- display -->
    <div class="card">
    <div class="col-md-12">
        <h3 class="text-center"> Your Generated Entity Object  </h3>
        <hr />
        <div class="card-body">
          <pre>{{ devTools | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</div>
