<div class="account-content">
  <!-- <a routerLink="/login/joblist" class="btn btn-primary apply-btn">Apply Job</a> -->
  <div class="container">

    <!-- Account Logo -->
    <div class="account-logo">
      <a href="javascript:"><img src="assets/img/logo2.png" alt="Walton Digi-Tech Industries Ltd "></a>
    </div>
    <!-- /Account Logo -->

    <div class="account-box">
      <div class="account-wrapper">
        <h3 class="account-title">Login</h3>
        <p class="account-subtitle">Welcome to Login Panel</p>

        <!-- Account Form -->
        <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
          <div class="form-group">
            <label>Username</label>
            <input class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.username.errors }"
              formControlName="username" type="text">
            <div *ngIf="formSubmitted && f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.required">{{errorMsg.error.username}}</div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col">
                <label>Password</label>
              </div>
            </div>
            <input class="form-control" [ngClass]="{ 'is-invalid': formSubmitted && f.password.errors }"
              formControlName="password" formControlName="password" type="password">
            <div *ngIf="formSubmitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">{{errorMsg.error.password}}</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters</div>
            </div>
          </div>
          <div class="form-group text-center">

            <button class="btn btn-primary btn-sm" type="submit">

              <span *ngIf="!isLoading">
                <!-- icon sign in -->
                <i class="fa fa-sign-in"></i> Login
              </span>

              <span *ngIf="isLoading" class="indicator-progress" [style.display]="'block'">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>

            </button>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <!-- Register button outline -->
            <button class="btn btn-outline-secondary btn-sm" type="button" routerLink="/login/register">
              <i class="fa fa-user-plus">&nbsp; Create Account</i></button>

          </div>
          <div class="account-footer">
            <!-- <p>Don't have an account yet? <a routerLink="/login/register">Register</a></p> -->
          </div>
        </form>
        <!-- /Account Form -->

      </div>
    </div>
  </div>
</div>
<!--
<ngx-spinner bdColor = "rgba(255,255,255,0.5)" size = "medium" color = "#667eea" type = "ball-clip-rotate" [fullScreen] = "false"><p style="color: black" > Processing... </p></ngx-spinner> -->


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
