.custom-button{
  background: linear-gradient(to right, #0a6323 0%, #de0f0f 100%);
}
.is-invalid {
  border-color: #ff0000 !important;

}

.account-box{
  height: 500px !important;
}




/* [account-btn custom-button]   --> was default login button css class name*/

