<div class="account-content">
  <!-- <a routerLink="/login/joblist" class="btn btn-primary apply-btn">Apply Job</a> -->
  <div class="container">

    <!-- Account Logo -->
    <!-- <div class="account-logo">
      <a href="javascript:"><img src="assets/img/logo2.png" alt="Walton Digi-Tech Industries Ltd "></a>
    </div> -->
    <!-- /Account Logo -->



    <div class="account-box " style="margin-top:70px">
      <div class="account-wrapper">
        <h2 class="text-center text-muted">TechBitz</h2>
        <h3 class="account-title">Sign in</h3>
        <p class="account-subtitle">to continue to HR system</p>


        <br> <br>

        <!-- Account Form -->
        <form (ngSubmit)="onSubmit()" [formGroup]="myForm">

          <mat-form-field appearance="outline" class="w-100" style="padding-left: 13px;">
            <mat-label>Username</mat-label>
            <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.username.errors }"
              formControlName="username">
            <mat-error *ngIf="formSubmitted && f.username.errors">
              <!-- error fa fa icon icon -->
              <i class="fa fa-exclamation-circle"></i>
              <!-- {{errorMsg.error.username}} -->
              <span *ngIf="f.username.errors.required"> Username is required</span>
            </mat-error>
          </mat-form-field>

          <br> <br>

          <mat-form-field appearance="outline" class="w-100" style="padding-left: 13px;">
            <mat-label>Password</mat-label>
            <input matInput type="password" [ngClass]="{ 'is-invalid': formSubmitted && f.password.errors }"
              formControlName="password">
            <mat-error *ngIf="formSubmitted && f.password.errors">
              <!-- error fa fa icon icon -->
              <i class="fa fa-exclamation-circle"></i>
              {{errorMsg.error.password}}
            </mat-error>
          </mat-form-field>
          <a tabindex="-1" mat-button color="primary" type="button" routerLink="/login/forgot-password">Forgot
            password?</a>
          <br> <br>
          <div class="form-group">
            <button tabindex="-1" mat-button  type="button" color="primary" routerLink="/login/register">Create Account</button>
            &nbsp; &nbsp; &nbsp; &nbsp;

            <button mat-raised-button type="submit" color="primary" style="float:right">

              <span *ngIf="!isLoading">
                <!-- icon sign in -->
                Login
              </span>

              <span *ngIf="isLoading" class="indicator-progress" [style.display]="'block'">
                Please wait...
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
              </span>

            </button>

          </div>
          <div class="account-footer">
            <!-- forgot password -->

          </div>
        </form>
        <!-- /Account Form -->

      </div>
    </div>
  </div>
</div>
<!--
<ngx-spinner bdColor = "rgba(255,255,255,0.5)" size = "medium" color = "#667eea" type = "ball-clip-rotate" [fullScreen] = "false"><p style="color: black" > Processing... </p></ngx-spinner> -->


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
