<!-- Page Content -->
<div class="content container-fluid">

  <!-- Page Header -->
  <div class="page-header">
    <div class="row align-items-center">
      <div class="col">
        <h2 class="page-title">Organization</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard/admin">Home</a></li>
          <li class="breadcrumb-item active">Organization</li>
          <li class="breadcrumb-item active">Create</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /Page Header -->


  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <!-- back to list page -->
          <a class="" routerLink="/base/org/list">
            <!--  arrow icon -->
            <i class="fa fa-long-arrow-left"></i>
            &nbsp;
            Back to List
          </a>
        </div>
        <div class="card-body">
          <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formGroup">


            <div class="row">
              <div class="col-md-3">

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Code</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.code.errors }"
                    formControlName="code">
                  <mat-error *ngIf="formSubmitted && f.code.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Code is required
                  </mat-error>
                </mat-form-field>
                <br> <br>

              </div>


              <div class="col-md-3">

                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Description</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.description.errors }"
                    formControlName="description">
                  <mat-error *ngIf="formSubmitted && f.description.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Description is required
                  </mat-error>
                </mat-form-field>
                <br> <br>
              </div>

              <!-- parent organization -->
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select Parent Organization</mat-label>
                  <mat-select formControlName="parent">
                    <mat-option *ngFor="let item of orgList" [value]="item.id">
                      {{item.description}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br> <br>
              </div>

              <!-- email -->
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Email</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.email.errors }"
                    formControlName="email">
                  <mat-error *ngIf="formSubmitted && f.email.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Email is required
                  </mat-error>
                </mat-form-field>
                <br> <br>
              </div>


              <!-- Select Active / inactive -->
              <!-- <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select status</mat-label>
                  <mat-select formControlName="active">
                    <mat-option value="true">Active</mat-option>
                    <mat-option value="false">Inactive</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formSubmitted && f.active.errors">
                    <i class="fa fa-exclamation-circle"></i>
                    Active is required
                  </mat-error>

                </mat-form-field>
                <br> <br>
              </div> -->

            </div>

            <div class="row">
              <!-- telephone -->
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Mobile</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.telephone.errors }"
                    formControlName="telephone">
                  <mat-error *ngIf="formSubmitted && f.telephone.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Telephone is required
                  </mat-error>
                </mat-form-field>
                <br> <br>
              </div>

              <!-- tinNumber -->
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Tin Number</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.tinNumber.errors }"
                    formControlName="tinNumber">
                  <mat-error *ngIf="formSubmitted && f.tinNumber.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Tin Number is required
                  </mat-error>
                </mat-form-field>
                <br> <br>
              </div>

              <!-- fax -->
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Fax</mat-label>
                  <input matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.fax.errors }"
                    formControlName="fax">
                  <mat-error *ngIf="formSubmitted && f.fax.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Fax is required
                  </mat-error>
                </mat-form-field>
                <br> <br>
              </div>
              <!-- rootOrganization active or not active -->
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select Is Root Org? </mat-label>
                  <mat-select formControlName="rootOrganization">
                    <mat-option [value]="true">Yes</mat-option>
                    <mat-option [value]="false">No</mat-option>
                  </mat-select>
                  <mat-error *ngIf="formSubmitted && f.active.errors">
                    <i class="fa fa-exclamation-circle"></i>
                    Root Org is required
                  </mat-error>
                </mat-form-field>
                <br> <br>
              </div>
            </div>

            <div class="row">

              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Select status</mat-label>
                  <mat-select formControlName="active">
                    <mat-option [value]="true">Active</mat-option>
                    <mat-option [value]="false">Inactive</mat-option>
                  </mat-select>

                  <mat-error *ngIf="formSubmitted && f.active.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Active is required
                  </mat-error>

                </mat-form-field>
                <br> <br>
              </div>

              <!-- address textarea -->
              <div class="col-md-3">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Address</mat-label>
                  <textarea matInput type="text" [ngClass]="{ 'is-invalid': formSubmitted && f.address.errors }"
                    formControlName="address"></textarea>
                  <mat-error *ngIf="formSubmitted && f.address.errors">
                    <!-- error fa fa icon icon -->
                    <i class="fa fa-exclamation-circle"></i>
                    Address is required
                  </mat-error>
                </mat-form-field>
                <br> <br>
              </div>

                <!-- LogoText  file upload -->
                <div class="col-md-3">
                  <button type="button" mat-raised-button (click)="fileInputLogoText.click()">Choose Logo Text</button>
                  <input hidden (change)="onLogoTextFileSelected($event)" #fileInputLogoText type="file">
                  <span class="file-name">{{selectedLogoTextFile?.name}}</span>
                  <br> <br>
                </div>

                  <!-- LogoText  file upload -->
              <div class="col-md-3">
                <button type="button" mat-raised-button (click)="fileInputLogoImage.click()">Choose Logo Image</button>
                <input hidden (change)="onLogoImageFileSelected($event)" #fileInputLogoImage type="file">
                <span class="file-name">{{selectedLogoImageFile?.name}}</span>
                <br> <br>
              </div>


            </div>


            <div class="text-right">
              <!-- <button mat-raised-button color="primary">Primary</button> -->
              <button class="btn btn-outline-info btn-sm">
                <span *ngIf="!isLoading">
                  <!-- icon sign in -->
                  <i class="fa fa-save"></i>&nbsp; Save
                </span>
                <span *ngIf="isLoading" class="indicator-progress">
                  Please wait...
                  <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
                &nbsp;&nbsp;&nbsp;
              </button>

              &nbsp; &nbsp;
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /Page Content -->
