@import "~ngx-toastr/toastr.css";
@import "~@ng-select/ng-select/themes/default.theme.css";


/* use Noto Sans font */
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i);


.toast-custom {
    top: 62px;
    right: 0px;
}

#toast-container > div {
    max-width: 700px;
    width: 1200px; /* width: 100% */
    width: 100%;
    min-width: 400px;
}


/* ----------------- Pagination CSS Start ------------------------------ */
.pgn-pageSliceCt ul.ngx-pagination {
	padding-left: 5px !important;
}

.pgn-pageSizeOption {
    height: 30px;
    border: 1px solid #dee2e6;
}

.ngx-pagination li {
    margin-right: 0px !important;
    position: relative;
    color: #0d6efd;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
.ngx-pagination li a {
    color: #0d6efd !important;
}
/* ----------------- Pagination CSS End ------------------------------ */

.ng-select.custom-ng-select .ng-select-container {
    border-color: #667eea;
	border-left: 3px solid #667eea;
    box-shadow: none;
    height: 43px;
}
.form-control{
  /* nice input form design */
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

}



.form-control:focus {
	border-color: #1A73E8 !important;
	outline: 0 !important;
	-webkit-box-shadow: inset 0 2px 2px rgba(113, 109, 109, 0.08), 0 0 8px rgb(102 175 233 / 60%) !important;
	box-shadow: inset 0 2px 2px rgba(62, 7, 181, 0.08), 0 0 8px rgb(102 175 233 / 60%) !important;
 }

 input.form-control, select.form-control, textarea.form-control {
	border-color: #3c3f4c !important;
	border-left: 3px solid #37383a!important;
  box-shadow: none !important;
  border:2px solid #DADCE0 !important;
 }

 /* focus out add placeholder text to level border */
  input.form-control:focus {
    border-color: #1A73E8 !important;
  }

 /* ngClass is-invalid focus red border input box */
.is-invalid {
  border-color: #ff0000 !important;

}

.custom-text{
  color: #6C757D !important;
}


.border-dtd-btm{
  border-bottom:2px dotted #ddd !important;
}
